/upload/
/data/
/node_modules/
/dist/
/build/
/.env
/.DS_Store
/.well-known/

/vendor/
/composer.lock
/public/js/jquery*.js
/public/js/jquery/

# Frontend build artifacts
/frontend/node_modules/
/frontend/dist/
/frontend/.env

/config.inc.php