#installContainer {
  position: fixed;
  display: none;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  z-index: 1031;
  bottom: 0rem;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 -6px 7px 0px #00000021;
  animation: installContainerShow 0.7s 1;
}

@keyframes installContainerShow {
  0% {
    bottom: -6rem;
  }
}
#beian {
  background-color: #ffffff00;
  position: fixed;
  bottom: 10px;
  left: 50%;
  color: #bdd4ff;
}
#installContainer button {
  color: white;
  border-style: none;
  width: 5rem;
  font-size: 2rem;
  height: 100%;
}

#butInstallCancel {
  background: #ac3939;
}

#butInstall {
  background: #63cc50;
}

#installText {
  color: white;
  padding: 1rem;
}

#logchain {
  margin: 1rem;
}

/* navs */

.lmenu-grids {
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.lmenu-grid {
  width: 33%;
  list-style: none;
  padding: 8px 3px 8px 3px;
  letter-spacing: normal;
}

.lmenu-grid-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.lmenu-grid-link:hover {
  text-decoration: none;
}

.lmenu-grid-icon {
  font-size: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .lmenu-grid-text {
    display: none;
  }
}

.lmenu-grid-text {
  margin-top: 8px;
  font-size: 1rem;
}

.navbar {
  display: flex;
}

.logoLogo {
  height: 12.5rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.logoLogoLogo {
  height: 12rem;
  transition: all 0.3s;
}

.logoLogoLogo:hover {
  height: 12.5rem;
  transition: all 0.3s;
}

.logoLogoLogo:active {
  transform: rotate(720deg);
  transition: all 0.3s;
}

.logoText {
  height: 2.3rem;
}

.frenchfries-white {
  fill: white;
}

.frenchfries {
  width: 1.5rem;
  height: 1.5rem;
}

.frenchfries-h3 {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 5px;
}

.frenchfries-small {
  width: 0.8rem;
  height: 0.8rem;
}

.navbar-brand {
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 1rem;
  fill: none;

  stroke-linecap: square;
  stroke-linejoin: bevel;
  stroke-width: 2.5px;
  transition: all 0.3s;
}

.navbar-brand:hover {
  transition: all 0.3s;
}

.meBtn {
  border-style: none;
  border-radius: 1rem;
  transition: all 0.3s;
}

.meBtn:hover {
  transition: all 0.3s;
}

#menuBtn {
  line-height: 0rem;
  font-size: 2rem;
  transform: rotate(0deg);
  transition: all 0.3s;
}

#menuBtn:hover {
  transition: all 0.3s;
}

#menuBtn:focus {
  box-shadow: none;
  transition: all 0.3s;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 1rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: none !important;
  background: none !important;
}

/* 侧栏 */

#lmenu,
#lmenuAd {
  margin: 0rem 0rem 1rem 0rem;
}

.nav-links {
  width: 100%;
}

.sticky-top {
  top: 1rem;
}

.switch_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 0.8rem;
  overflow: hidden;
}

.switch_box:hover {
  cursor: pointer;
}

input[type='checkbox'].switchLight {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 20px;
  background: #9f9f9f;
  border-radius: 25px;
  position: relative;
  outline: 0;
  cursor: pointer;
  transform: scaleX(-1);
}

input[type='checkbox'].switchLight:before,
input[type='checkbox'].switchLight:after {
  position: absolute;
  content: '';
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

input[type='checkbox'].switchLight:before {
  width: 18px;
  height: 18px;
  background: #202020;
  border: 2px solid #9f9f9f;
  border-radius: 50%;
  top: 50%;
  left: 1px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

input[type='checkbox'].switchLight:after {
  width: 10px;
  height: 10px;
  background: #9f9f9f;
  border-radius: 50%;
  top: 42%;
  left: 8px;
  -webkit-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

input[type='checkbox'].switchLight:checked {
  background: #444;
}

input[type='checkbox'].switchLight:checked:before {
  left: calc(100% - 19px);
  border-color: #444;
  background: #e1e1e1;
}

input[type='checkbox'].switchLight:checked:after {
  left: 75px;
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* main */
.container {
  margin-bottom: 3rem;
}

.col-md-3 {
  padding: 0 0.5rem 0 0.5rem;
}

.col-md-9 {
  padding: 0 0.5rem 0 0.5rem;
}

.title {
  font-weight: bolder;
}

.intro {
  font-size: 0.5rem;
}

.buttonsContainer {
  width: 3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.none-decoration:hover {
  text-decoration: none;
}

.stretched-link:hover {
  text-decoration: none;
}

#newMessageBtn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1040;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  border-radius: 3rem;
  border: none;
  transition: all 0.3s;
}

#newMessageBtn:hover {
  background: #3999ff;
  transition: all 0.3s;
}

#newMessageBtn:active {
  background: #00448d;
  transition: all 0.3s;
}

.custom-file-label {
  border-radius: 0;
}

.custom-file-label::after {
  display: none;
}

.notice {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

.quoteview,
.profileview {
  position: absolute;
  z-index: 2100;
  display: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 6px 3px 16px 3px #00000033;
  border-radius: 1rem;
}

.profileview {
  text-align: center;
  font-weight: bold;
}

.text-title {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 2px;
}

.text-nickname {
  font-weight: normal;
  font-size: 0.5rem;
}

.text-date,
.text-id {
  font-size: 12px;
  padding-bottom: 2px;
}

.text-link {
  font-size: 16px;
}

.text-link {
  font-size: 12px;
}

.text-po {
  font-size: 0.8rem;
  color: #2d7091;
}

.contentsContainer {
  width: calc(100%-3rem);
}

.text-content {
  font-size: 1rem;
  margin: 10px 0 5px;
  padding: 0 10px;
  width: 100%;
}

.quote {
  cursor: default;
  color: #789922;
}

.sage {
  font-size: 0.8rem;
  font-weight: bold;
}

.list-group-item {
  background: inherit;
  color: inherit;
}

.avatarSVG {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}
.avatarSVG-head {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}
.avatarSVG-gen {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-right: 5%;
}

.avatarSVG-block {
  width: 100%;
  max-width: 15rem;
  padding: 1rem;
}

.avatarSVG-show {
  width: 15rem;
  padding: 1rem;
}

.avatarSelector {
  padding: 0.8rem;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start !important;
}

.uct {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  align-content: flex-end;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.uct-logo {
  width: 32px;
  height: 32px;
  display: inline-block;
}
.whiteverse-planet-img {
  width: 128px;
  height: 128px;
  background: black;
  image-rendering: pixelated;
}
.discussion {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.reply {
  padding-left: 0rem;
}

.floorNumber {
  display: inline;
  font-size: 0.5rem;
  letter-spacing: -1px;
  margin-right: 0.2rem;
}

.discussionTitle {
  z-index: 888;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  padding-top: 1rem;
}

.discussionTitleText {
  font-size: 1.5rem;
}

.discussionHr {
  margin: 1rem 0rem 0rem 0rem;
}

.paginationHr {
  margin: 0rem 0rem 1rem 0rem;
}

#new-discuss {
  position: relative;
  border: none;
  padding: 1rem;
}

#new-discuss > p {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  line-height: 1.1em;
  margin: 20px 0;
}

#new-discuss textarea {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.fandaoDoodle {
  width: 300px;
  height: 300px;
  position: relative;
}

.fandaoDoodleSolitaire {
  position: absolute;
  left: 0;
  top: auto;
  background: #00000033;
  padding: 3px 10px 3px 10px;
  color: #ffffff78;
  transition: all 0.3s;
}

.fandaoDoodleSolitaire:hover {
  position: absolute;
  left: 0;
  top: auto;
  background: #000000c0;
  padding: 3px 10px 3px 10px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}

.fandaoImg-enlarge:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.view-contribution {
  margin: 1rem;
  padding: 5px;
  width: auto;
  text-align: center;
  border-radius: 10px;
}

/* painter */
#painter {
  overflow: scroll !important;
}

#bcPaint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bcPaintCanvas {
  background-color: white;
  cursor: crosshair;
}

.bcPaint-palette-color {
  width: 30px;
  height: 20px;
  display: inline-block;
  cursor: crosshair;
  border-radius: 5px;
  margin: 0px 2px;
}

#bcPaint-palette > .selected {
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 0px 2px #888888;
}

.bcPaint-palette-stroke {
  background-color: #aaa;
  display: inline-block;
  margin: 2px;
  border: 2px #ccc solid;
  border-radius: 15px;
}

#bcPaint-palette > .selectedStroke {
  border: 3px solid #777;
}

#strokeRange {
  width: 19rem;
}

.textPrepend {
  width: 6rem;
}

.formtext {
  display: inline-block;
  width: 22%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.6;
}

.page-link:focus {
  outline: 0;
  box-shadow: none;
}

.badge:hover {
  cursor: pointer;
}

.lableModal {
  font-size: 0.5rem;
  height: calc(1.5em + 1.5rem + 2px);
  padding-top: 0.5rem;
}

.fandaoLink {
  word-break: break-all;
  text-decoration: underline;
}

.viewBtn {
  margin-top: 0.3rem;
}

.articleContent {
  min-height: calc(100vh - 12rem);
  width: 100%;
  border-radius: 0.2rem;
  display: inline-block;
  -moz-user-modify: read-write-plaintext-only;
  -webkit-user-modify: read-write-plaintext-only;
}

.bottomToolbar {
  width: 100%;
  height: 2rem;
  position: fixed;
  bottom: 0rem;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wordCounter {
  font-size: 0.5rem;
  text-align: start;
}

.question {
  font-size: 1.3rem;
}

.pauseTide {
  font-size: 1.3rem;
}

.pauseTide:hover {
  cursor: pointer;
}

.fontSizeControllerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fontSizeController {
  font-size: 1.3rem;
}

.fontSizeController:hover {
  cursor: pointer;
}

.fontSizeViewer {
  width: 3rem;
  text-align: center;
}

.gutterLine {
  width: 1px;
  height: 80%;
  background-color: #6f6f6f35;
}

/* foot */

.footHr {
  margin: 1rem;
}

.footContent {
  font-size: 0.5rem;
}

.footText,
a,
a:hover {
  color: inherit;
}

/* userinfo */
.text-nickName {
  word-break: break-all;
  font-size: 1.5rem;
}

.text-userName {
  word-break: break-all;
  font-size: 1rem;
}

.userinfo {
  text-align: left;
  padding-left: 1rem;
}

.latestReply {
  font-size: 0.8rem;
  font-weight: bold;
}

#logoutBtn {
  color: #ac3939;
  transition: all 0.5s;
}

#logoutBtn:hover {
  color: white;
  background: #ac3939;
  transition: all 0.5s;
  cursor: pointer;
}

.addAvatarBtn {
  transform: rotate(0deg);
  transition: all 0.5s;
}

.avatarProfileImg {
  max-width: 2rem;
}

.avatarOperation {
  max-width: 3rem;
}

#veriftEmailBtnSpinner {
  display: none;
}

.tableWallet {
  word-break: break-all;
  max-width: 8.2rem;
  min-width: 8.2rem;
}

.tableNote {
  word-break: break-all;
  max-width: 8.2rem;
  min-width: 8.2rem;
}

.transfer-log {
  font-size: 0.5rem;
  word-break: keep-all;
  min-width: 3rem;
}

.transfer-log td {
  padding: 0.2rem;
}

.calendarPicker {
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem;
}

.calendarPicker:active {
  font-size: 1rem;
  font-weight: normal;
  border: 2px solid;
  border-radius: 0.5rem;
}

/* login */
.chooseThisOrThat {
  margin: 0.5rem;
}

#loadingIcons {
  font-size: 3rem;
}

.shakeit {
  animation: shakeit 500ms linear infinite;
}

.rotateit {
  animation: rotateit 500ms linear infinite;
}

#avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-contribution {
  margin: 1rem;
}

.card-radio-btn {
  width: 100%;
}

.card-radio-btn .content_head {
  font-size: 1rem;
  line-height: 30px;
  font-weight: 700;
}

.card-radio-btn .content_sub {
  font-size: 0.8rem;
}

.card-input-element + .card {
  height: 3.5rem;
  justify-content: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0 4px 25px 0 rgb(129 129 129 / 22%);
  box-shadow: 0 4px 25px 0 rgb(129 129 129 / 22%);
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.card-input-element:checked + .card {
  border: 2px solid #719eca;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

.card-input-element:checked + .card::after {
  content: '\f058';
  color: rgba(113, 158, 201, 0.6);
  position: absolute;
  right: 5px;
  top: 5px;
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }

  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }

  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

@keyframes shakeit {
  0% {
    padding-right: 0rem;
    color: #878787;
  }

  25% {
    padding-right: 1rem;
    color: #ac3939;
  }

  50% {
    padding-right: 0rem;
    color: #878787;
  }

  75% {
    padding-right: 1rem;
    color: #ac3939;
  }

  100% {
    padding-right: 0rem;
    color: #878787;
  }
}

@keyframes rotateit {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* cards */

.cardPassed {
  font-size: 4rem;
}

.cardHole {
  width: 3rem;
  height: 3rem;
  background: #f6f6f6;
  box-shadow: inset 1px 1px 3px 1px #00000042;
  border-radius: 3rem;
}

.cardDropDown {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.myProposal {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2rem;
  padding-left: 0.3rem;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  font-size: 0.8rem;
  writing-mode: vertical-lr;
}

.myProposal::after {
  content: ' ';
  width: 0;
  height: 100%;
  position: absolute;
  border-right: 6px dotted white;
  right: -3px;
  top: 0px;
}

#fanfan {
  line-height: 0.5rem;
  display: flex;
  flex-direction: column;
  animation: fanfango 10s infinite ease-in-out;
  position: relative;
  width: 4rem;
  font-size: 0.5rem;
}

@keyframes fanfango {
  0% {
    left: 0%;
    transform: scaleX(-1);
  }

  1% {
    left: 0%;
    transform: scaleX(1);
  }

  50% {
    left: 80%;
    transform: scaleX(1);
  }

  51% {
    left: 80%;
    transform: scaleX(-1);
  }

  100% {
    left: 0%;
    transform: scaleX(-1);
  }
}

.paused {
  animation-play-state: paused !important;
}

.running {
  animation-play-state: running !important;
}

.small {
  font-size: 0.5rem;
}

.normal {
  font-size: 1rem;
}

.verify-content {
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background: #ffffffb8;
}

.verify-head {
  margin: auto;
  width: 15rem;
}

.wiki-verify-btn {
  border-radius: 0;
  background: #ac3939;
  color: #fff;
  box-shadow: 4px 4px 0px 0px #00000047;
  transition: all 0.6s;
}

.wiki-verify-btn:hover {
  background: #eb6575;
  color: #f3f3f3;
  box-shadow: 6px 6px 0px 0px #00000036;
  transition: all 0.6s;
}

#joinWiKi {
  background: #a72fa1;
}

#joinWiKi:hover {
  background: #e050d9;
}

.wiki-info {
  border: none !important;
  background-image: linear-gradient(76deg, #5b57e2, #2562c7) !important;
  color: white !important;
  box-shadow: 5px 5px 0px #0404043b;
  transition: all, 0.5s;
}

.wiki-info:hover {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px #0404043b;
  transition: all, 0.5s;
}

.wiki-charge {
  background-image: linear-gradient(76deg, #e25798, #c75325) !important;
  border-radius: 18px;
}

.wiki-charge:hover {
  cursor: pointer;
}

.score-content {
  font-weight: bold;
  border-radius: 1rem;
}

.score-text {
  margin: 1rem;
}

#score-head {
  margin: auto;
  width: 5rem;
}
.aifadian-avatar {
  width: 50px;
  clip-path: circle(50%);
}
#verifyAfdian {
  background: #7f60da;
  border-radius: 0;
}
#verifyAfdian:hover {
  background: #987af3;
}
