    body {
        background: #444444 !important;
    }

    #installContainer {
        background: #4a2b6c;
    }

    .color-theme {
        color: #b52929;
        stroke: #b52929;
    }

    .color-theme:hover {
        color: #cf5a5a;
        stroke: #cf5a5a;
    }

    .color-background {
        background: #222222;
    }

    .color-background-secondary {
        background: #2e2e2e;
        border: 1px solid #6a6a6a;
    }

    .color-background-secondary:focus {
        background: #2e2e2e;
        border: 1px solid #6a6a6a;
    }

    .color-background-secondary:disabled {
        background: #494949;
        color: #7a7a7a;
        border: 1px solid #414141;
    }

    .color-background-grey {
        background: #2e2e2e;
    }

    .color-background-grey:hover {
        background: #555555;
    }

    .color-background-grey:active {
        background: #1a1a1a;
    }

    .color-badge-default {
        background: #3e3e3e;
        color: #9b9b9b;
    }

    .color-badge-default:hover {
        background: #878787;
        color: #c1c1c1;
    }

    .color-badge-default:active {
        background: #999999;
        color: #000000;
    }

    .color-badge-active {
        background: #006e19;
        color: #cfcfcf;
    }

    .color-badge-active:hover {
        background: #02a729;
        color: #dfdfdf;
    }

    .color-badge-active:active {
        background: #00400f;
        color: #000000;
    }

    .color-badge-danger {
        background: #ac3939;
        color: white;
    }

    .color-badge-danger:hover {
        color: white;
        background: #df5050;
    }

    .color-badge-danger:active {
        color: white;
        background: #792323;
    }

    .color-button-secondary {
        background: #747474;
        color: white;
    }

    .color-button-secondary:hover {
        background: #9b9b9b;
        color: white;
    }

    .color-button-secondary:active {
        background: #474747;
        color: white;
    }

    .color-button-primary {
        background: #63cc50;
        color: white;
    }

    .color-button-primary:hover {
        background: #28cf54 !important;
        color: white;
    }

    .color-button-primary:active {
        background: #227a11 !important;
        color: black;
    }


    .color-button-danger {
        color: white;
        background: #ac3939;
    }

    .color-button-danger:hover {
        color: white;
        background: #df5050;
    }

    .color-button-danger:active {
        color: white;
        background: #792323;
    }

    .color-font-default {
        color: #9f9f9f;
        fill: #9f9f9f;
    }

    .color-font-grey {
        color: #878787;
    }

    .color-font-secondary {
        color: #555;
    }

    .color-font-danger {
        color: #ac3939;
    }

    .color-font-important {
        color: #1f622f;
        ;
    }

    .color-button-primary-ticket {
        color: white;
        background: #63cc50;
    }

    .color-button-primary-ticket:after {
        border-right: 6px dotted #222222;
    }

    body {
        background: #181818;
    }

    .list-group-item-action:hover,
    .list-group-item-action:focus {
        color: #a7a7a7;
        background-color: #3c3c3c;
    }

    .list-group-item-action:active {
        color: #747474;
        background-color: #1c1c1c;
    }

    .list-group-flush>.list-group-item {
        border-color: #2c2c2c;
    }

    .buttonsContainer {
        border-color: #2c2c2c;
    }

    hr {
        border-color: #2c2c2c;
    }


    .page-item.disabled .page-link {
        background-color: #222;
        color: #6c757d;
        border-color: #4a4a4a;
    }

    .page-item.active .page-link {
        color: #fff;
        background-color: #007bff;
        border-color: #4a4a4a;

    }

    .page-link {
        color: #c3c3c3;
        background-color: #222;
        border-color: #4a4a4a;
    }

    .page-link:hover {

        color: #ffffff;
        background-color: #4a4a4a;
        border-color: #4a4a4a;

    }

    .modal-header {
        border-color: #4a4a4a;
    }

    .modal-footer {
        border-color: #4a4a4a;
    }

    .alert-info {
        color: #cecece;
        background-color: #142f74;
        border-color: #142f74;
    }

    .table thead th {
        border-top: 1px solid #2a2a2a;
        border-bottom: 1px solid #2a2a2a;
    }

    .table td {
        border-top: 1px solid #2a2a2a !important;

    }

    #ocean {
        position: fixed;
        width: 100%;
        left: 0;
        top: 4rem;
        transform: rotate(180deg);
    }

    #ocean .waves {
        position: relative;
        width: 100%;
        margin-bottom: -16px;
        min-height: 100px;
        max-height: 40px;
    }

    #wave1 {
        fill: #525252;
    }

    #wave2 {
        fill: #66666690;
    }

    #wave3 {
        fill: #2a2a2a80;
    }

    #wave4 {
        fill: #181818c4;
    }

    #ocean .parallax>use {
        animation: tide 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }

    @keyframes tide {
        from {
            transform: translate3d(-90px, 0, 0);
        }

        to {
            transform: translate3d(85px, 0, 0);
        }
    }

    #ocean .parallax>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    #ocean .parallax>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    #ocean .parallax>use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    #ocean .parallax>use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

    #fanfan {
        color: #00000063;
    }

    .del {
        text-decoration: line-through;
        text-decoration-thickness: 6px;
        text-decoration-color: black;
    }

    .cls-1 {
        fill: none;
        stroke-linecap: square;
        stroke-linejoin: bevel;
        stroke: #a53738;
        stroke-width: 2.5px
    }